<h1>Oz Park Fall 2012 </h1>

<h2>Standings</h2>

<%= link_to 'Back to League Schedule', sched_url %>

<table border=".5" cellpadding="10">
<tr bgcolor="#fafad2">
	<th>Team</th>
	<th>Sets Played</th>
	<th>Sets Won</th>
	<th>Sets loss</th>
</tr>

<tr bgcolor="#e0ffff" >
	<td>Tuesday</td>
	<td align="center">15</td>
	<td align="center">12</td>
	<td align="center">3</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>In Your Face</td>
	<td align="center">12</td>
	<td align="center">10</td>
	<td align="center">2</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>Jabbonga</td>
	<td align="center">15</td>
	<td align="center">9</td>
	<td align="center">6</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>Chivas</td>
	<td align="center">15</td>
	<td align="center">9</td>
	<td align="center">6</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>Generations</td>
	<td align="center">12</td>
	<td align="center">8</td>
	<td align="center">4</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>Rec-n-Ballz</td>
	<td align="center">12</td>
	<td align="center">0</td>
	<td align="center">12</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>Green Monkeys</td>
	<td align="center">15</td>
	<td align="center">0</td>
	<td align="center">15</td>
</tr>

</table>



