 <html>
<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!--
<head>
<style type="text/css">
	body { background-color: rgba(169,153,27,0.6);
			margin: 0px 100px 0px 0px}
	table { border: solid 1px #000; }
	thead tr { background:rgba(255,255,255,1); }	
	tr { background:#e0ffff; }
	tr.alt { background:#fafad2; }
</style>
</head>
-->


<h2>Schedule</h2>

<body>

<!-- <table border="1" cellpadding="10"> -->
<table>

<thead>
<tr>
	<th>Date</th>
	<th>Time</th>
	<th>Court 1</th>
	<th>Court 2</th>
</tr>
</thead>
<tbody>
<tr class="alt">
	<td>9/25</td>
	<td>7:00 pm</td>
	<td>Jabbonga vs Rec-n-Ballz</td>
	<td>In Your Face vs Green Monkeys</td>
</tr>

<tr class="alt">
	<td></td>
	<td>8:00pm</td>
	<td>Chivas vs Tuesday</td>
	<td>Jabbonga vs Generations</td>
</tr>

<tr class="alt">
	<td>10/2</td>
	<td>7:00 pm</td>
	<td>In Your Face vs Tuesday</td>
	<td>Rec-n-Ballz vs Chvas</td>
</tr>

<tr class="alt">
	<td></td>
	<td>8:00pm</td>
	<td>Jabbonga vs Green Monkeys</td>
	<td>Chivas vs Generations</td>
</tr>
<tr class="alt">
	<td>10/9</td>
	<td>7:00 pm</td>
	<td>Green Monkeys vs Generations</td>
	<td>Rec-n-Ballz vs Tuesday</td>
</tr>

<tr class="alt">
	<td></td>
	<td>8:00pm</td>
	<td>In Your Face vs Chivas</td>
	<td>Jabbonga vs Tuesday</td>
</tr>

<tr class="alt">
	<td>10/16</td>
	<td>7:00 pm</td>
	<td>Rec-n-Ballz vs Generations</td>
	<td>Green Monkeys vs Chivas</td>
</tr>

<tr class="alt">
	<td></td>
	<td>8:00pm</td>
	<td>Green Monkeys vs Tuesday</td>
	<td>Jabbonga vs In Your Face</td>
</tr>

<tr class="alt">
	<td>10/23</td>
	<td>7:00 pm</td>
	<td>Jabbonga vs Chivas</td>
	<td>Rec-n-Ballz vs In Your Face</td>
</tr>

<tr class="alt">
	<td></td>
	<td>8:00pm</td>
	<td>Rec-n-Ballz vs Green Monkeys</td>
	<td>Tuesday vs Generations</td>
</tr>

<tr class="alt">
	<td>10/30</td>
	<td>7:00 pm</td>
	<td>In Your Face vs Generations</td>
	<td>Rec-n-Ballz vs Jabbonga</td>
</tr>

<tr class="alt">
	<td></td>
	<td>8:00pm</td>
	<td>Tuesday vs Chivas</td>
	<td>Green Monkeys vs In Your Face</td>
</tr>

<tr class="alt">
	<td>11/6</td>
	<td>7:00 pm</td>
	<td>Generations vs In Your Face</td>
	<td>Chivas vs Jabbonga</td>
</tr>

<tr class="alt">
	<td></td>
	<td>8:00pm</td>
	<td>Tuesday vs Rec-n-Ballz</td>
	<td>Green Monkeys vs Jabbonga</td>
</tr>

<tr class="alt">
	<td>11/13</td>
	<td>7:00 pm</td>
	<td>In Your Face vs Jabbonga</td>
	<td>Generations vs Green Monkeys</td>
</tr>

<tr class="alt">
	<td></td>
	<td>8:00pm</td>
	<td>Chivas vs Rec-n-Ballz</td>
	<td>Tuesday vs Green Monkeys</td>
</tr>

<tr class="alt">
	<td>11/20</td>
	<td>7:00 pm</td>
	<td>Chivas vs Green Monkeys</td>
	<td>Generations vs Tuesday</td>
</tr>

<tr class="alt">
	<td></td>
	<td>8:00pm</td>
	<td>In Your Face vs Rec-n-Ballz</td>
	<td>Generations vs Jabbonga</td>
</tr>

<tr class="alt">
	<td>11/27</td>
	<td>7:00 pm</td>
	<td>Green Monkeys vs Rec-n-Ballz</td>
	<td>Tuesday vs Jabbonga</td>
</tr>

<tr class="alt">
	<td></td>
	<td>8:00pm</td>
	<td>Chivas vs In Your Face</td>
	<td>Generations vs Rec-n-Ballz</td>
</tr>

<tr>
	<td>12/4</td>
	<td>7:00 pm</td>
	<td>Tuesday vs In Your Face</td>
	<td>Generations vs Chivas</td>
</tr>

<tr>
	<td></td>
	<td>8:00pm</td>
	<td>Chivas(3rd) vs Green Monkeys(6th)</td>
	<td>Jabbonga(4th) vs Generations(5th)</td>
</tr>

<tr>
	<td>12/11</td>
	<td>7:00 pm</td>
	<td>1st seed vs tba</td>
	<td>2nd seed vs tba</td>
</tr>

<tr>
	<td></td>
	<td>8:00pm</td>
	<td colspan="2" align="center">CHAMPIONSHIP</td>
</tr>
</tbody>
</table>

</body>	

</html>