
<h1>Oz Park Fall 2012 Schedule</h1>

<table class="imagetable">
<tr>
	<td>(1)Jabonga</td>
	<td>(3)In Your Face</td>
	<td>(5)Chivas</td>
	<td>(7)Generations</td>
</tr>
<tr>
	<td>(2)Rec-n-Ballz</td>
	<td>(4)Green Monkeys</td>
	<td>(6)Tuesday</td>
</tr>

</table>

<table class="imagetable">
<tr>
	<th>Date</th>
	<th>Time</th>
	<th>Court 1</th>
	<th>court 2</th>
</tr>

<tr>
	<td>9/25</td>
	<td>7:00 pm</td>
	<td>1 v 2</td>
	<td>3 v 4</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>5 v 6</td>
	<td>1 v 7</td>
</tr>

<tr>
	<td>10/2</td>
	<td>7:00 pm</td>
	<td>3 v 6</td>
	<td>2 v 5</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>1 v 4</td>
	<td>5 v 7</td>
</tr>
<tr>
	<td>10/9</td>
	<td>7:00 pm</td>
	<td>4 v 7</td>
	<td>2 v 6</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>3 v 5</td>
	<td>1 v 6</td>
</tr>

<tr>
	<td>10/16</td>
	<td>7:00 pm</td>
	<td>2 v 7</td>
	<td>4 v 5</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>4 v 6</td>
	<td>1 v 3</td>
</tr>

<tr>
	<td>10/23</td>
	<td>7:00 pm</td>
	<td>1 v 5</td>
	<td>2 v 3</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>2 v 4</td>
	<td>6 v 7</td>
</tr>

<tr>
	<td>10/30</td>
	<td>7:00 pm</td>
	<td>3 v 7</td>
	<td>2 v 1</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>6 v 5</td>
	<td>4 v 3</td>
</tr>

<tr>
	<td>11/6</td>
	<td>7:00 pm</td>
	<td>7 v 3</td>
	<td>5 v 1</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>6 v 2</td>
	<td>4 v 1</td>
</tr>

<tr>
	<td>11/13</td>
	<td>7:00 pm</td>
	<td>3 v 1</td>
	<td>7 v 4</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>5 v 2</td>
	<td>6 v 4</td>
</tr>

<tr>
	<td>11/20</td>
	<td>7:00 pm</td>
	<td>5 v 4</td>
	<td>7 v 6</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>3 v 2</td>
	<td>7 v 1</td>
</tr>

<tr>
	<td>11/27</td>
	<td>7:00 pm</td>
	<td>4 v 2</td>
	<td>6 v 1</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>5 v 3</td>
	<td>7 v 2</td>
</tr>

<tr>
	<td>12/4</td>
	<td>7:00 pm</td>
	<td>6 v 3</td>
	<td>7 v 5</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>3rd v 6th</td>
	<td>4th v 5th</td>
</tr>

<tr>
	<td>12/11</td>
	<td>7:00 pm</td>
	<td>1st v tba</td>
	<td>2nd v tba</td>
</tr>

<tr>
	<td>'</td>
	<td>8:00pm</td>
	<td>CHAMPIO</td>
	<td>NSHIP</td></tr>

</table>

	