<h1>Oz Park Fall 2012 Schedule</h1>

(1)Jabonga
(2)Rec-n-Ballz
(3)In Your Face
(4)Green Monkeys
(5)Chivas
(6)Tuesday
(7)Generations

Date	Time	Court 1		Court 2			
9/25	7:00pm	1 v 2		3 v 4
		8:00pm	5 v 6		1 v 7
10/2	7:00pm	3 v 6		2 v 5
		8:00pm	1 v 4		5 v 7
10/9	7:00pm	4 v 7		2 v 6
		8:00pm	3 v 5		1 v 6
10/16	7:00pm	2 v 7		4 v 5
		8:00pm	4 v 6		1 v 3
10/23	7:00pm	1 v 5		2 v 3
		8:00pm	2 v 4		6 v 7
10/30	7:00pm	3 v 7		2 v 1
		8:00pm	6 v 5		4 v 3
11/6	7:00pm	7 v 3		5 v 1
		8:00pm	6 v 2		4 v 1
11/13	7:00pm	3 v 1		7 v 4
		8:00pm	5 v 2		6 v 4
11/20	7:00pm	5 v 4		7 v 6
		8:00pm	3 v 2		7 v 1
11/27	7:00pm	4 v 2		6 v 1
		8:00pm	5 v 3		7 v 2
12/4	7:00pm	6 v 3		7 v 5
		8:00pm	3rd vs 6th	4th vs 5th
12/11	7:00pm	1st vs tba	2nd vs tba
8:00pm			CHAMPIONSHIP	