 <html>
<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<h2>Congratulations to the 2013 Spring Champions Mario Karters!</h2>

<body>
	<img alt="Team" src="/assets/148809_10100573791359639_352273924_n.jpg" style="float:left;width:950px" />

</body>
</html>