 <html>
<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!--
<head>
<style type="text/css">
	body { background-color: rgba(169,153,27,0.6);
			margin: 0px 100px 0px 0px}
	table { border: solid 1px #000; }
	thead tr { background:rgba(255,255,255,1); }	
	tr { background:#e0ffff; }
	tr.alt { background:#fafad2; }
</style>
</head>
-->


<h2>Schedule</h2>

<body>

<!-- <table border="1" cellpadding="10"> -->
<table>

<thead>
<tr>
	<th>Date</th>
	<th>Time</th>
	<th>Court 1</th>
	<th>Court 2</th>
</tr>
</thead>
<tbody>
<tr class ="alt">
	<td>1/8</td>
	<td>7:00 pm</td>
	<td>Generations(1) vs Chivas(2)</td>
	<td>Jabongga(1) vs In Your Face(2)</td>
</tr>

<tr class ="alt">
	<td></td>
	<td>8:00 pm</td>
	<td>Blue Bombers(1) vs CouchPullsOutButIDon't(2)</td>
	<td>*</td>
</tr>

<tr>
	<td>1/15</td>
	<td>7:00 pm</td>
	<td>Jabongga vs Couch Pulls Out But I don't</td>
	<td>Chvas vs Illegal Procedure</td>
</tr>

<tr>
	<td></td>
	<td>8:00 pm</td>
	<td>Generations vs In Your Face</td>
	<td>Blue Bombers vs Mario Karters</td>
</tr>
<tr>
	<td>1/22</td>
	<td>7:00 pm</td>
	<td>In Your Face vs Mario Karters</td>
	<td>Chivas vs Couch Pulls Out But I Don't</td>
</tr>

<tr>
	<td></td>
	<td>8:00 pm</td>
	<td>Jabongga vs Blue Bombers</td>
	<td>Generations vs Illegal Procedure</td>
</tr>

<tr>
	<td>1/29</td>
	<td>7:00 pm</td>
	<td>Chivas vs Mario Karters</td>
	<td>In Your Face vs Blue Bombers</td>
</tr>

<tr>
	<td></td>
	<td>8:00 pm</td>
	<td>Illegal Procedure vs Couch Pulls Out But I Don't</td>
	<td>Generations vs Jabongga</td>
</tr>

<tr>
	<td>2/5</td>
	<td>7:00 pm</td>
	<td>Generations vs Blue Bombers</td>
	<td>In Your Face vs Illegal Procedure</td>
</tr>

<tr>
	<td></td>
	<td>8:00 pm</td>
	<td>Chivas vs Jabongga</td>
	<td>Couch Pulls Out But I Don't vs Mario Karters</td>
</tr>

<tr>
	<td>2/12</td>
	<td>7:00 pm</td>
	<td>Jabongga vs Mario Karters</td>
	<td>Blue Bombers vs Illegal Procedure</td>
</tr>

<tr>
	<td></td>
	<td>8:00 pm</td>
	<td>Generations vs Couch Pulls Out But I Don't</td>
	<td>Chivas vs In Your Face</td>
</tr>

<tr>
	<td>2/19</td>
	<td>7:00 pm</td>
	<td>Mario Karters vs Generations</td>
	<td>In Your Face vs Couch Pulls Out But I Don't</td>
</tr>

<tr>
	<td></td>
	<td>8:00 pm</td>
	<td>Illegal Procedure vs Jabongga</td>
	<td>Chivas vs Blue Bombers</td>
</tr>

<tr>
	<td>2/26</td>
	<td>7:00 pm</td>
	<td>*Mario Karters vs Illegal Procedure</td>
	<td>**Couch Pulls Out But I Don't vs Blue Bombers</td>
</tr>

<tr>
	<td></td>
	<td>8:00 pm</td>
	<td>**Chivas vs Generations</td>
	<td>**In Your Face vs Jabongga</td>
</tr>

<tr>
	<td>3/5</td>
	<td>7:00 pm</td>
	<td>3rd seed vs 6th seed</td>
	<td>4th seed vs 5th seed</td>
</tr>

<tr>
	<td></td>
	<td>8:00 pm</td>
	<td>1st seed vs TBA</td>
	<td>2nd seed vs TBA</td>
</tr>

<tr>
	<td>3/12</td>
	<td>7:00 pm</td>
	<td colspan="2" align="center">CHAMPIONSHIP</td>
</tr>

<tr>
	<td></td>
	<td>8:00 pm</td>
	<td colspan="2" align="center">*</td>
</tr>

<tr>
	<td>3/19</td>
	<td>7:00 pm</td>
	<td>**Chivas vs Couch Pulls Out But I Don't</td>
	<td>**Illegal Procedure vs Generations</td>
</tr>

<tr>
	<td></td>
	<td>8:00 pm</td>
	<td>**Jabongga vs Mario Karters</td>
	<td>**Blue Bombers vs In Your Face</td>
</tr>


</tbody>
</table>
</body>	

	<ul>* Game to makeup</ul>
	<ul>** Free Play (does not count)</ul>

	


</html>