<h1>Oz Park Fall 2012</h1>

<h2>Schedule</h2>

<body background="grey">

<%= link_to 'View League Standings', standings_url %> |



</table>

<table border="1", border-color="#0000cd">
<tr bgcolor="#0000cd", font-color="#ffffff">
	<th>Date</th>
	<th>Time</th>
	<th>Court 1</th>
	<th>court 2</th>
</tr>

<tr bgcolor="#ffffff", font-color="#0000cd">
	<td>9/25</td>
	<td>7:00 pm</td>
	<td>Jabbonga vs Rec-n-Ballz</td>
	<td>In Your Face vs Green Monkeys</td>
</tr>

<tr bgcolor="#ffffff">
	<td>'</td>
	<td>8:00pm</td>
	<td>Chivas vs Tuesday</td>
	<td>Jabbonga vs Generations</td>
</tr>

<tr bgcolor="#ffff00">
	<td>10/2</td>
	<td>7:00 pm</td>
	<td>In Your Face vs Tuesday</td>
	<td>Rec-n-Ballz vs Chvas</td>
</tr>

<tr bgcolor="#ffff00">
	<td>'</td>
	<td>8:00pm</td>
	<td>Jabbonga vs Green Monkeys</td>
	<td>Chivas vs Generations</td>
</tr>
<tr bgcolor="#ffffff">
	<td>10/9</td>
	<td>7:00 pm</td>
	<td>Green Monkeys vs Generations</td>
	<td>Rec-n-Ballz vs Tuesday</td>
</tr>

<tr bgcolor="#ffffff">
	<td>'</td>
	<td>8:00pm</td>
	<td>In Your Face vs Chivas</td>
	<td>Jabbonga vs Tuesday</td>
</tr>

<tr bgcolor="#ffff00">
	<td>10/16</td>
	<td>7:00 pm</td>
	<td>Rec-n-Ballz vs Generations</td>
	<td>Green Monkeys vs Chivas</td>
</tr>

<tr bgcolor="#ffff00">
	<td>'</td>
	<td>8:00pm</td>
	<td>Green Monkeys vs Tuesday</td>
	<td>Jabbonga vs In Your Face</td>
</tr>

<tr bgcolor="#ffffff">
	<td>10/23</td>
	<td>7:00 pm</td>
	<td>Jabbonga vs Chivas</td>
	<td>Rec-n-Ballz vs In Your Face</td>
</tr>

<tr bgcolor="#ffffff">
	<td>'</td>
	<td>8:00pm</td>
	<td>Rec-n-Ballz vs Green Monkeys</td>
	<td>Tuesday vs Generations</td>
</tr>

<tr bgcolor="#ffff00">
	<td>10/30</td>
	<td>7:00 pm</td>
	<td>In Your Face vs Generations</td>
	<td>Rec-n-Ballz vs Jabbonga</td>
</tr>

<tr bgcolor="#ffff00">
	<td>'</td>
	<td>8:00pm</td>
	<td>Tuesday vs Chivas</td>
	<td>Green Monkeys vs In Your Face</td>
</tr>

<tr bgcolor="#ffffff">
	<td>11/6</td>
	<td>7:00 pm</td>
	<td>Generations vs In Your Face</td>
	<td>Chivas vs Jabbonga</td>
</tr>

<tr bgcolor="#ffffff">
	<td>'</td>
	<td>8:00pm</td>
	<td>Tuesday vs Rec-n-Ballz</td>
	<td>Green Monkeys vs Jabbonga</td>
</tr>

<tr bgcolor="#ffff00">
	<td>11/13</td>
	<td>7:00 pm</td>
	<td>In Your Face vs Jabbonga</td>
	<td>Generations vs Green Monkeys</td>
</tr>

<tr bgcolor="#ffff00">
	<td>'</td>
	<td>8:00pm</td>
	<td>Chivas vs Rec-n-Ballz</td>
	<td>Tuesday vs Green Monkeys</td>
</tr>

<tr bgcolor="#ffffff">
	<td>11/20</td>
	<td>7:00 pm</td>
	<td>Chivas vs Green Monkeys</td>
	<td>Generations vs Tuesday</td>
</tr>

<tr bgcolor="#ffffff">
	<td>'</td>
	<td>8:00pm</td>
	<td>In Your Face vs Rec-n-Ballz</td>
	<td>Generations vs Jabbonga</td>
</tr>

<tr bgcolor="#ffff00">
	<td>11/27</td>
	<td>7:00 pm</td>
	<td>Green Monkeys vs Rec-n-Ballz</td>
	<td>Tuesday vs Jabbonga</td>
</tr>

<tr bgcolor="#ffff00">
	<td>'</td>
	<td>8:00pm</td>
	<td>Chivas vs In Your Face</td>
	<td>Generations vs Rec-n-Ballz</td>
</tr>

<tr bgcolor="#ffffff">
	<td>12/4</td>
	<td>7:00 pm</td>
	<td>Tuesday vs In Your Face</td>
	<td>Generations vs Chivas</td>
</tr>

<tr bgcolor="#ffffff">
	<td>'</td>
	<td>8:00pm</td>
	<td>3rd seed vs 6th seed</td>
	<td>4th seed vs 5th seed</td>
</tr>

<tr bgcolor="#ffff00">
	<td>12/11</td>
	<td>7:00 pm</td>
	<td>1st seed vs tba</td>
	<td>2nd seed vs tba</td>
</tr>

<tr bgcolor="#ffff00">
	<td>'</td>
	<td>8:00pm</td>
	<td>CHAMPIONSHIP</td>

</table>

</body>	