 <html>
<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<h2>Schedule</h2>
<p> (8:00pm - 9:00pm is OPEN GYM)

<body>

<!-- <table border="1" cellpadding="10"> -->
<table>

<thead>
	<tr>
		<th>Date</th>
		<th>Time</th>
		<th>Court 1</th>
		<th>Court 2</th>
	</tr>
</thead>
<tbody>
	<tr class ="alt">
		<td>4/02</td>
		<td>7:00 pm</td>
		<td>Generations(3) vs Jabongga(0)</td>
		<td>Pulls Out(1) vs Mario Karters(2)</td>
	</tr>
	
	<tr class ="alt">
		<td>4/09</td>
		<td>7:00 pm</td>
		<td>Jabongga(0) vs Mario Karters(3)</td>
		<td>Generations(3) vs Pulls Out(0)</td>
	</tr>
	
	<tr class ="alt">
		<td>4/16</td>
		<td>7:00 pm</td>
		<td>Pulls Out(2) vs Jabongga(1)</td>
		<td>Mario Karters(1) vs Generations(2)</td>
	</tr>
	
	<tr class ="alt">
		<td>4/23</td>
		<td>7:00 pm</td>
		<td>Jabongga(2) vs Generations(1)</td>
		<td>Mario Karters(3) vs Pulls Out(0)</td>
	</tr>
	<tr class ="alt">
		<td>4/30</td>
		<td>7:00 pm</td>
		<td>Mario Karters(2) vs Jabongga(1)</td>
		<td>Pulls Out(2) vs Generations(1)</td>
	</tr>
	
	<tr class ="alt">
		<td>5/07</td>
		<td>7:00 pm</td>
		<td>Jabongga(2) vs Pulls Out(1)</td>
		<td>Generations(2) vs Mario Karters(1)</td>
	</tr>
	
	<tr class ="alt">
		<td>5/21</td>
		<td>7:00 pm</td>
		<td>Generations(1) vs Jabongga(2)</td>
		<td>Pulls Out(1) vs Mario Karters(2)</td>
	</tr>
	
	<tr>
		<td>5/28</td>
		<td>7:00 pm</td>
		<td>Jabongga vs Mario Karters</td>
		<td>Generations vs Pulls Out</td>
	</tr>
	
	<tr>
		<td>6/04</td>
		<td>7:00 pm</td>
		<td>Pulls Out vs Jabongga</td>
		<td>Mario Karters vs Generations</td>
	</tr>
	<tr>
		<td>6/11</td>
		<td>7:00 pm</td>
		<td>1st seed vs 4th seed</td>
		<td>2nd seed vs 3rd seed</td>
	</tr>
	
	<tr class ="alt">
		<td></td>
		<td>8:00 pm</td>
		<td colspan="2" align="center">CHAMPIONSHIP</td>
	</tr>

</tbody>
</table>
</body>	


</html>