<html>

<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<!--
<head>
<style type="text/css">
	body { background-color:rgba(169,153,27,0.6);
			margin:0px 100px 0px 0px}
	table { border: solid 1px #000; }
	thead tr { background:#fafad2; }	
	tr { background:#e0ffff; }
</style>
</head>
-->

<h2>Standings</h2>

<p>(Last updated on May 10, 2013)</p>

<body>


<!-- <table border=".5" cellpadding="10"> -->
<table>

	<thead>
	
		<tr>
			<th>Team</th>
			<th>Sets Won</th>
			<th>Sets loss</th>
			<th>Games Won</th>
			<th>Games loss</th>
		</tr>
		
	</thead>
	
	<tbody>
			
		<tr>
			<td>Generations</td>
			<td>4</td>
			<td>2</td>
			<td>12</td>
			<td>6</td>
		</tr>
		
		<tr>
			<td>Mario Karters</td>
			<td>4</td>
			<td>2</td>
			<td>12</td>
			<td>6</td>
		</tr>

				
		<tr>
			<td>My Couch Pulls Out But I Don't</td>
			<td>2</td>
			<td>4</td>
			<td>6</td>
			<td>12</td>
		</tr>
		
		<tr>
			<td>Jabongga</td>
			<td>2</td>
			<td>4</td>
			<td>6</td>
			<td>12</td>
		</tr>
	
	</tbody>

</table>

</body>

</html>

