<h1>Oz Park Fall 2012 </h1>

<h2>Standings</h2>

<%= link_to 'Back to League Schedule', sched_url %>

<table border="1" cellpadding="10" text-align="center">
<tr bgcolor="#fafad2">
	<th>Team</th>
	<th>Sets Played</th>
	<th>Sets Won</th>
	<th>Sets loss</th>
</tr>

<tr bgcolor="#e0ffff" >
	<td>Tuesday</td>
	<td>15</td>
	<td>12</td>
	<td>3</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>In Your Face</td>
	<td>12</td>
	<td>10</td>
	<td>2</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>Jabbonga</td>
	<td>15</td>
	<td>9</td>
	<td>6</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>Chivas</td>
	<td>15</td>
	<td>9</td>
	<td>6</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>Generations</td>
	<td>12</td>
	<td>8</td>
	<td>4</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>Rec-n-Ballz</td>
	<td>12</td>
	<td>0</td>
	<td>12</td>
</tr>

<tr bgcolor="#e0ffff">
	<td>Green Monkeys</td>
	<td>15</td>
	<td>0</td>
	<td>15</td>
</tr>

</table>



