<html>
<head>
	<style type="text/css">
		body {  }
		table { border: solid 1px #000; }
		thead tr { background:#fafad2; }	
		tr { background:#e0ffff; }
	</style>
</head>

<h1>Oz Park Fall 2012 </h1>

<h2>Team Standings</h2>
<h3>Last updated on October 24 2012</h3>

<%= link_to 'Back to League Schedule', sched_url %>

<table border=".5" cellpadding="10">

<thead>

<tr>
	<th>Team</th>
	<th>Sets Played</th>
	<th>Sets Won</th>
	<th>Sets loss</th>
</tr>
</thead>

<tbody>

<tr>
	<td>In Your Face</td>
	<td align="center">15</td>
	<td align="center">13</td>
	<td align="center">2</td>
</tr>

<tr>
	<td>Tuesday</td>
	<td align="center">18</td>
	<td align="center">14</td>
	<td align="center">4</td>
</tr>



<tr>
	<td>Jabbonga</td>
	<td align="center">18</td>
	<td align="center">11</td>
	<td align="center">7</td>
</tr>

<tr>
	<td>Chivas</td>
	<td align="center">18</td>
	<td align="center">10</td>
	<td align="center">8</td>
</tr>

<tr>
	<td>Generations</td>
	<td align="center">15</td>
	<td align="center">9</td>
	<td align="center">6</td>
</tr>

<tr>
	<td>Green Monkeys</td>
	<td align="center">18</td>
	<td align="center">3</td>
	<td align="center">15</td>
</tr>

<tr>
	<td>Rec-n-Ballz</td>
	<td align="center">18</td>
	<td align="center">0</td>
	<td align="center">18</td>
</tr>

</tbody>

</table>

</html>

