<h1>Oz Park Fall 2012 Standings</h1>

<%= link_to 'Back to League Schedule', temporary_schedules_url %>

<table border="1">
<tr>
	<th>Team</th>
	<th>Sets Played</th>
	<th>Sets Won</th>
	<th>Sets loss</th>
</tr>

<tr>
	<td>Tuesday</td>
	<td>15</td>
	<td>12</td>
	<td>3</td>
</tr>

<tr>
	<td>In Your Face</td>
	<td>12</td>
	<td>10</td>
	<td>2</td>
</tr>

<tr>
	<td>Jabbonga</td>
	<td>15</td>
	<td>9</td>
	<td>6</td>
</tr>

<tr>
	<td>Chivas</td>
	<td>15</td>
	<td>9</td>
	<td>6</td>
</tr>

<tr>
	<td>Generations</td>
	<td>12</td>
	<td>8</td>
	<td>4</td>
</tr>

<tr>
	<td>Rec-n-Ballz</td>
	<td>12</td>
	<td>0</td>
	<td>12</td>
</tr>

<tr>
	<td>Green Monkeys</td>
	<td>15</td>
	<td>0</td>
	<td>15</td>
</tr>

</table>



