<html>
<head>
  <title>league Manager</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<h2>Contacts</h2>

<body>

<!-- <table border="1" cellpadding="10"> -->
<table>

<thead>
<tr>
	<th>Name</th>
	<th>Email</th>
	<th>Phone</th>
	
</tr>
</thead>
<tbody>
<tr>
	<td>Michael Tan Liao (Mikko)</td>
	<td>michael.tanliao@gmail.com</td>
	<td> (310)4256536 </td>
</tr>

</tbody>
</table>

</html>